.sc-gswNZR, dAZYal{
    width: 100% !important;
    margin: auto !important;
    font-size: 18px !important;
}

.css-arxvkg-MuiPaper-root{
    background-color: transparent !important;
    box-shadow: none !important;
}

@media screen and (max-width: 280px){

    #main-title{
        font-size: 60px !important;
    }

    .link-it{
        font-size: 12px !important;
    }

    .sc-gswNZR, dAZYal{
    font-size: 13px !important;
    }
}

@media screen and (min-width: 281px) and (max-width: 375px){

    #main-title{
        font-size: 60px !important;
    }

    .link-it{
        font-size: 12px !important;
    }

    .sc-gswNZR, dAZYal{
    font-size: 13px !important;
    }
}