#main-title{
    margin-bottom: -1%;
    font-size: 600%;
    color: white;
    width: 50%;
    flex-basis: 100%;
    text-shadow: -1px 0px 7px #a9cdc8, 0px 1px 7px #a9cdc8, 1px 0px 7px #a9cdc8, 0px -1px 7px #a9cdc8;
}