html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(#defde6, #d1e7fd) no-repeat fixed;
    font-family: 'IBM Plex Sans KR', sans-serif !important;
}
#root{
    height: 100%;
}
.main-background{
    width: 100%;
    height: 100%;
    display: flex;
}
.main-layout{
    width: 100%;
    margin: auto;
}
#main-title{
    text-align: center;
    margin-bottom: -1%;
    font-size: 600%;
    color: white;
    text-shadow: -1px 0px 7px #a9cdc8, 0px 1px 7px #a9cdc8, 1px 0px 7px #a9cdc8, 0px -1px 7px #a9cdc8;
}

#sub-title{
    text-align: center;
    margin-bottom: 5%;
    font-size: 150%;
    color: #656262;
}

#main-card{
    width: 80%;
    height: 100%;
    margin: auto auto 0px;
}
#card-top-guide{
    color: #575454;
    text-align: end;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#main-item-list{
    margin-top: 10px;
}

